@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --z-fixed: 100;
}

:root{
    --royal-blue: #4169E1;
    --text-color: #6c757d;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --white-color: #fff;
    --dark-red: #FF0000;
}
:root{
    --mb1: .5rem;
    --mb2: 1rem;
    --mb3: 1.5rem;
    --mb4: 2rem;
}
:root{
    --header-height: 3rem;
    --font-medium: 500;
    --big-font-size: 6rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.17rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --font-family: 'Poppins', sans-serif;
}
@media screen and (min-width: 768px){
    :root{
        --header-height: 4rem;
        --big-font-size: 9rem;
        --h1-font-size: 3rem;
        --h2-font-size: 2.5rem;
        --h3-font-size: 2rem;
        --normal-font-size: 0.875rem;
        --small-font-size: 0.75rem;
    }
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--royal-blue);
    line-height: 1.6;
    font-family: var(--font-family);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--white-color);
}
h1,h2,p{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);
    background: var(--royal-blue);
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
    height: var(--header-height);
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--white-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.home-header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    text-align: left;
    left: 0;
    top: 0;
    z-index: var(--z-fixed);
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:70px 10% 0;
    width: 100%;
    height: 100vh;
    position: relative;
}

.home-content{
    max-width: 600px;

}
.home-content h3{
    font-size: var(--h3-font-size);

    color: var(--white-color);
    margin-bottom: var(--mb2);
    font-weight: var(--font-medium);
}
.home-content h3 span{
    color: var(--dark-red);
}
.home-content h1{
    font-size: var(--h1-font-size);
    color: var(--white-color);
    font-weight: var(--font-medium);
    
}
.home-social{
    display: inline-flex;
    margin-top: var(--mb3);
    width: 100%;
    height: 100%;


    gap: 1rem;
    margin-top: 2rem;

    margin-bottom: 2rem;
    
}
.home-social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid var(--dark-red);
    background-color: var(--white-color);
    color: var(--royal-blue);
    font-size: 1.5rem;
    transition: 0.3s ease;
 
}
.home-social a:hover{
    background-color: var(--dark-red);
    transform: scale(1.1);
    box-shadow: 0;
    box-shadow: 0 0 40px var(--dark-red);
}
.home-img img{
    width: 450px;
    
    padding: 1rem;

}
.home-img2{
   position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.home-img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    opacity: 0.5;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--royal-blue);
}
.menu-ul{
    display: flex;
    line-height: 1.5;
    gap: var(--mb2);
}
.menu-ul li{
    margin-right: 1rem;

}
.menu-ul li a{
    padding: .5rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
}
.menu-ul li a:hover{
    color: #FF0000;
}
.menu-btn{
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--dark-red);
}

@media screen and (max-width: 768px){
    .menu-ul{
        position: fixed;
        top: var(--header-height);
        align-items: center;
        left: 100%;
        width: 100%;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        transition: 0.3s ease;
    }
    .menu-ul.active{
        left: 0;
    }
 
    .menu-ul li{
        margin-bottom: var(--mb2);

    }
    .menu-ul li a{
        position: relative;
        transition: 0.3s ease;
        padding: 1rem;
        color: var(--royal-blue);
    }
    .menu-ul li a:hover{
        color: var(--dark-red);
    }
    .menu-btn{
        position: absolute;
        top: .5rem;
        right: 1rem;
        color: var(--white-color);
        font-size: 1.5rem;
        cursor: pointer;
        display: block;
    }
    
}       
